
* {
    box-sizing: border-box;
    
  }

  
.landingInput {
  width: 90%;
  display: block;
  margin: 16px auto;
  border: none;
  padding: 0;
  height: 21.6px;
  border-radius: 2px;
  /* font-size: inherit; */  
}


.mainGrid {
  display: grid;
  grid-auto-columns: auto auto;
  grid-gap: 10px;

}



.mainItem {
  grid-column: 2/2;
}
  
@media screen and (min-width: 750px) {
 html, button {
   font-size: 20px;
 }

 
 
  .landingInput {
   height: 26.4px;
   margin: 20px auto;
 }

  
  .landingGrid {
    grid-template-columns: 200px 200px 200px !important;
    display: grid !important;
    justify-content: space-evenly !important;
  }

}


@media screen and (min-width: 1150px) {
  html, button {
    font-size: 24px;
  }

  
  .landingInput {
    line-height: 24px;
  }

    
  .landingGrid {
    grid-template-columns: 300px 300px 300px !important;
    display: grid;
    justify-content: space-evenly;
  }

  
  .landingInput {
    height: 32px;
    margin: 24px auto;
  }
}

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.landingHeader {
    text-align: center;
    padding-top: 20px; 
    color: white;
}

.landingP {
    color : white;
    text-align: center;
    margin: 0;
    font-weight: 400;
}

.landingButton {
    background-color:  #00284B;
    border-radius: 2px;
    color:white;
    display: block;
    padding: 5px 10px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;

    
}

.landingButton:active {
  background-color: yellow;
  color: #00284B;

}


.landingGrid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: space-evenly;
  row-gap: 10px;

}

/* premade CSS */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 2.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: .5rem;
  width: 80%;
}

.modal p {
  margin: 0 auto;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.modalInput {
  /* Hide the browser-specific focus styles */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ced4da;
  border-width: 1px;
  background-color: transparent;
}

.modalInput:placeholder{
  color: transparent;
}

.modalInput:focus + .modalLabel {
  outline: 0;
  box-shadow: 0;
  transform: translate(1%, -100%) scale(.9);
  color: rgba(0, 116, 217, 1);
 
}

.modalLabel {
  transition: .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/*
.modalLabel:not(:placeholder-shown)  {
  transform: translate(1%, -100%) scale(.8);
}
*/



.modalInput:not(:placeholder-shown) + .modalLabel {
  outline: 0;
  box-shadow: 0;
  transform: translate(1%, -100%) scale(.9);
  color: rgba(0, 116, 217, 1);
 
} 


/*
.modalInput:not(:placeholder-shown) ~ .formValidation {
  
}
*/


.modalInput:-webkit-auto-fill + .modalLabel {
  outline: 0;
  box-shadow: 0;
  transform: translate(1%, -100%) scale(.9);
  color: rgba(0, 116, 217, 1);
 
}

/*
.modalLabel {
  transition: transform .25s, opacity .25s ease-in-out;
  transform-origin: 0 0;
  opacity: .5;
} */
/*
.modalLabel:focus {
  transform:translate(1%, -30%) scale(.8);
}
*/

/*
.modalLabel:not(:placeholder-shown) {
  transform:translate(1%, -30%) scale(.8);
}
*/
/*
.modalInput:invalid + .landingValidationLabel{
  transform:translate(1%, 100%) scale(.8);
  z-index: 4;
}
*/


.formValidation {
  z-index: 1;
  position: absolute;
  margin-top: 1.2rem;
  /*transition: 2s cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  /*transform: translate(-1%, -100%) scale(.9); */
  outline: 0;
  box-shadow: 0;
  animation: .4s  ease-out mymove;
  color: rgba(0, 116, 217, 1);
}

/*
.formValidationMoved {
  transition: 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform: translate(-1%, 3200%) scale(.9);
  color: rgba(0, 116, 217, 1);
}
*/


@keyframes mymove {

  from {  
  transform: translate(0%, -2.2rem) scale(1); 
  opacity: 0;
  }

  to {transform: translate(0%, 0rem) scale(1); 
    color: rgba(0, 116, 217, 1);
    opacity: 1;
  }
}



@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1rem);
  }
 
}

.card {
  
box-shadow:
0 2px 3px rgb(42 44 46 / 20%), 
0 1px 1px rgb(42 44 46 / 14%), 
0 1px 5px rgb(42 44 46 / 8%);
}

.workspaceButton {
  border: 2px solid #fcf8f5;
  background-color: rgba(0,0,0,0);
  margin: 2px 0px;
  color: rgb(0, 86, 161);
  border-radius: 2px;

}

.wsButton {
  background-color: #00284b;
  border-radius: 2px;
  border: 1px wheat groove;
  color: wheat;
}


.frameButton {
  background-color:rgb(0, 116, 217);
  border-radius: 2px;
  color: white;
  border: none;
}

.mainLink {
  text-decoration: none;
  color: #0074d9;
  font-weight: bold;
  /*padding: 0rem .3rem;*/
}

/*
.tooltipTriangle {
  position: absolute; 
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.7);
  z-index: 5;
  padding: 10px;
  border-radius:5px;
  top: calc(80%);
  left: 50%;
}
*/

.tooltip {
  position: absolute; 
  border-radius: 2px;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: calc(80%);
  z-index: 3;
  animation: tooltipShow;
  animation-duration: 1s;
}




@keyframes tooltipShow {

  0%   {opacity: 0}
  90% {opacity: 0}
  100% {opacity: 1}

}


.itemWidth {
  width: 5rem;
}

.input {
  border: 1px grey;
  padding: 0;
}

.contentCard {
  margin: .5rem auto 0rem;
  max-width: 80%;
}


.navGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 8rem));
  grid-gap: 0px 0px;
  margin: .5rem auto 0rem;
  max-width: 80%;
  border-radius: 2px;
  justify-content: space-evenly;
  align-content: center;
}

.mainContentCard {
  display: grid;
  grid-template-areas: "main main side";
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, minmax(33%, 33%));
  margin: .5rem auto 0rem;
  max-width: 80%;
  border-radius: 2px;
   /* box-shadow:
  0 2px 3px rgb(42 44 46 / 20%), 
  0 1px 1px rgb(42 44 46 / 14%), 
  0 1px 5px rgb(42 44 46 / 8%); */


  box-shadow: 0px 4px 4px rgba(0,0,0, .25);
}



@media screen and (max-width: 600px) {

  .mainContentCard {
    grid-template-areas: "main"
                         "side"
                         ;
   grid-template-rows: repeat(2, minmax(30%, 70%));
   grid-template-columns: auto;
  }
  
}
.verticalBarLeft {
  grid-area: side;
  height: 100%;
  border-width: 0;
  border-left: 10px solid;
  border-top: 0px;
  border-image: linear-gradient(#0074d9, #0b0de6) 0 100%;
}



.verticalBarTop {
  grid-area: side;
  height: 100%;
  border-width:0;
  border-left: 0;
  border-top: 10px solid;
  border-image: linear-gradient(#0074d9, #0b0de6) 100% 0;
}


.addRemoveFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: .5rem auto;
}

.addRemoveFlex {
  margin: .5rem auto;
  padding-left: .5rem;
}

.mainLabel {
  color: #0b0de6;

}

.holdItem {
  display: flex;
}

.addRemoveItem {
  margin-left: .5rem;
}

.holdItem label, .holdItem input, .holdItem button, .holdItem select {
  height: 1.3rem;
  
}

.mainButton {
  /* background-color: #E8E8E8; */
  background-color: #c4c4c4;
  color:rgba(0, 0, 0, 1);
  /* border-image: linear-gradient(#0074d9, #0b0de6) 40% 40%; */
  border-color: #c4c4c4;
}

.gradientText {
  background: linear-gradient(
            to right, #0074d9, #0b0de6,
             #0074d9, #0b0de6);
             -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
}